<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="nav">
        <a href="/contact-list">Contact List</a>
        <a href="/add-contact">Add a Contact</a>
    </div>
    <h1>Favorite Contacts</h1>
   <div class="holder">
        <% for(let i = 0; i < contacts.length; i++) {%>
            <% if(contacts[i].favorite == true) {%> 
                <div class="contactList">   
                    <p class="mainName"><%= contacts[i].name %></p>
                    <span class="lineUnder"></span>
                    <div class="info">
                        <p>Phone: <%= contacts[i].phoneNumber %></p>
                        <p>Email: <%= contacts[i].email %></p>
                    </div>

                </div>
            <%}%>
            
         <% } %>
        </div>
   
    
</body>
</html>